*
  font-size: 9pt
 
%font-smoothing
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

%h-properties
  color: $header-foreground
  font-weight: 700
  margin: 5px

body
  @extend %font-smoothing
  background-color: $application-background
  box-sizing: border-box
  bottom: 0
  color: $application-foreground
  font-family: HelveticaNeue,Quicksand, Muli, Avenir, Helvetica, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, 'Segoe UI', sans-serif
  font-feature-settings: 'liga'
  left: 0
  margin: 0
  overflow: hidden
  padding: 0
  position: fixed
  right: 0
  scroll-behavior: smooth
  text-rendering: optimizeLegibility
  top: 0
  user-select: none

a 
  color: $text-link-color
  font-weight: 600
  
button,
input,
optgroup,
select,
textarea
  color: inherit
  font: inherit
  margin: 0

fieldset
  background-color: $fieldset-background
  border-top: 1px solid $fieldset-border-light
  border-left: 1px solid $fieldset-border-light
  border-bottom: 1px solid $fieldset-border-dark
  border-right: 1px solid $fieldset-border-dark
  position: relative
  
  legend
    color: $legend-foreground
    font-size: 1.2em 
    font-weight: 600 

h1
  @extend %h-properties
  font-size: 2em

h2
  @extend %h-properties
  font-size: 1.75em

h3
  @extend %h-properties
  font-size: 1.66em

h4
  @extend %h-properties
  font-size: 1.5em

h5
  @extend %h-properties
  font-size: 1.33em

h6
  @extend %h-properties
  font-size: 1.25em

hr
  border: none
  border-top: 1px $horizontal-rule-border solid

fieldset
  border-radius: 4px

.align-center
  text-align: center
  
.align-right
  text-align: right

.divider
    background-color: transparent
    border-right: .5px $divider-border solid
    margin: 0 5px
    width: 0

.favorite-list-item
  color: $sidebar-favorite-foreground !important

.font-bolder
  font-weight: 800

.items-center
  display: inline-flex !important
  align-items: center

.main-container
  align-content: stretch
  bottom: 0
  box-sizing: border-box
  display: grid
  grid-template-rows: auto 25px
  justify-content: stretch
  left: 0
  position: fixed
  right: 0
  top: 0

.main-content
  bottom: 25px
  box-sizing: border-box
  display: grid
  grid-template-columns: 50px auto
  left: 0
  overflow: hidden
  position: relative
  right: 0
  top: 0

.main-content-left
  padding: 0
  position: relative

.main-content-right
  position: relative

.main-footer
  position: relative

.container
  bottom: 0
  left: 0
  margin: 0
  overflow-x: hidden
  overflow-y: auto
  position: absolute
  right: 0
  top: 0

::selection
  background: $application-selection
  text-shadow: none

::-webkit-scrollbar
  width: 12px
  
::-webkit-scrollbar-button
  background: $scrollbar-button-background
  border: 1px solid $scrollbar-button-border
  cursor: pointer
  height: 16px
  width: 16px

::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover
  background-color: lighten($scrollbar-thumb-background, 20%)
  border-color: lighten($scrollbar-thumb-background, 40%)
  border-style: groove
  
::-webkit-scrollbar-track
  background-color: $scrollbar-track-background

::-webkit-scrollbar-thumb
  background-color: $scrollbar-thumb-background
  border-radius: 5px
  border: 1px solid $scrollbar-thumb-border
  cursor: pointer
  
::-webkit-scrollbar-corner
  background-color: $scrollbar-corner-background

::-webkit-resizer
  background-color: $scrollbar-resizer-background
