=button-hover-transform($property)
  -ms-transform: $property
  -webkit-transform: $property
  transform: $property

=button-hover-filter($property)
  -webkit-filter: $property
  filter: brightness($property) drop-shadow($property)

%button-center
  padding: 0
  position: relative

%flat-button
  background-color: transparent
  border: none
  outline: none

%flat-button-hover
  +button-hover-filter(brightness(133%) drop-shadow(.5px .5px 2px #00bfff))
  +button-hover-transform(scale(1.15, 1.15))
  background-color: rgba(0, 0, 0, .1)
  cursor: pointer
  
%flat-button-focus
  outline: none

%button-hover
  +button-hover-filter(brightness(110%))
  background-color: $button-hover-background

.button-alert
  background-color: $button-alert-background !important


.button-create-project 
    box-shadow: 1px 1px 3px 3px transparentize($button-shadow, .5)
    cursor: pointer
    font-size: 1.1em
    font-weight: 600
    margin: 5px 10px
    padding: 5px 10px

button
  @extend %button-center
  background-color: $button-background
  border-radius: 3px
  border-bottom: 1px solid $button-brd-tl
  border-left: 1px solid $button-brd-tl
  border-right: 1px solid $button-brd-tl
  border-top: 1px solid $button-brd-tl
  color: $button-foreground
  font-size: .8em
  font-weight: 400
  padding: 1px 3px

button:focus
  outline: 1px $focus-brd solid

button:hover
  @extend %button-hover


