::selection 
  background: #0080FF
  text-shadow: none

.console 
  background-color: #121212
  bottom: 0
  color: #ccc
  font: 1.3rem 'Source Code Pro', Inconsolata, monospace
  left: 0
  margin: 0
  overflow: auto auto
  padding: 2rem
  position: absolute
  right: 0

pre 
  margin: 0
  padding: 0
