::selection 
  background: $select-bg
  text-shadow: none

.console 
  background-color: $console-bg
  bottom: 0
  color: $console-fg
  left: 0
  margin: 0
  overflow: auto auto
  position: absolute
  right: 0
  top: 24px

pre 
  font-family: 'Source Code Pro', monospace
  font-size: 1.1em
  margin: 0
  padding: 0
