//**********************************************************
//      COLOR PALETTE
//      Color variables used by CSS classes
//**********************************************************/
$activitybar-background: #1a1f28
$activitybar-border: #303840
$activitybar-foreground: #738699
$activitybar-hover-foreground: #ffae57

$application-background: #1a1f28
$application-foreground:#738699
$application-selection:#ffae57

$button-alert-background: #e04040
$button-background: #ffae57
$button-border-dark: #303840
$button-border-light: #454f59
$button-focus-background: #FFD09D55
$button-focus-border: .5px solid #FFD09D
$button-foreground: #1a1f28
$button-hover-background: #FFD09D
$button-shadow: #23180C

$chip-background: #343C4A
$chip-border: #737D8E

$console-background: #1a1f28
$console-border: #303840
$console-foreground: #d9d7ce
$console-titlebar-background: #272E3A
$console-titlebar-border: #303840

$divider-border: #737D8E

$editor-background: #212733
$editor-border: #303840
$editor-foreground: #738699
$editor-title-foreground: #ffcc66
$editor-title-shadow: #B8860B

$fieldset-background: #272E3A
$fieldset-border-dark: #303840
$fieldset-border-light: #303840

$horizontal-rule-border: #303840

$input-background: #272d38
$input-border:#7386994c
$input-focus-border: #738699
$input-foreground: #d9d7ce

$legend-foreground: #ffcc66

$scrollbar-button-background: #323A48
$scrollbar-button-border: #485162
$scrollbar-corner-background: #21212a
$scrollbar-resizer-background: #23232C
$scrollbar-thumb-background: #323A48
$scrollbar-thumb-border: #485162
$scrollbar-track-background: #272E3A 

$sidebar-background: #1a1f28
$sidebar-border: #11141ab3
$sidebar-focus-background: #343C4A
$sidebar-focus-border: #737D8E
$sidebar-focus-foreground: #ffcc66
$sidebar-foreground: #738699dd
$sidebar-favorite-foreground: #93abc4

$sidebar-header-background: #1a1f28
$sidebar-header-foreground: #ffcc66
$sidebar-hover-shadow: #B8860B
$sidebar-title-background: #272E3A
$sidebar-title-border: #303840
$sidebar-title-foreground: #ffcc66

$statusbar-background: #1a1f28
$statusbar-border: #303840
$statusbar-foreground: #9CACBB
$statusbar-section-background: #272E3A

$text-link-color: #ffcc66
