//**********************************************************
//      PRIMARY COMPONENTS & FEATURES
//      Used for text, headers, and other
//      primary components and features
//**********************************************************/

// Background colors
$button-bg: #4070E0
$content-main-bg: #282828
$control-bg: #aaa
$default-bg: #1e1e1e
$fieldset-bg: #212121
$statusbar-bg: #007ACC
$tab-active-bg: #1e1e1e
$tab-inactive-bg: #2d2d2d
$text-shadow-bg: #f5ddb5
$toolbar-bg: #333333
$tree-bg: #252525

// Border colors
$button-brd-br: #060666
$button-brd-tl: #3030cc
$chip-brd: #444
$control-brd: #555
$default-brd: #414141
$focus-brd: #00bfff

// Foreground colors
$control-fg: #3c3c3c
$default-fg: #D4D4D4
$highlight-fg: #ffeedd
$statusbar-fg: #EEEFF0



